.graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--white);
}

.graph {
    width: 40vw;
    max-width: 500px;
    aspect-ratio: 16 / 10;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--gray-div);
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature-graph {
    margin: 15px 15px 30px 0;
}

.humidity-graph {
    margin: 15px 0 30px 15px;
}

.current-value {
    flex-direction: column;
}

.current-value h3 {
    color: var(--medium-gray);
}

.current-value h1 {
    color: var(--white);
    font-size: 60px;
}


/**************** NOTIFICATIONS ****************/
#notifications {
    position: absolute;
    top: 0;
    right: 0;
}

.alert {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    font-weight: 400;
}

.alert-text {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.warning {
    background-color: #fffbbf;
    border: 1px solid #ffea5e;
    color: #af8008;
}

.hide-notification {
    display: none;
}


/**************** RESPONSIVE ****************/
@media only screen and (max-width: 1100px) {
    h1 {
        line-height: 96px;
        text-align: center;
    }

    body {
        height: auto;
    }

    .graph-container {
        display: block;
    }

    .graph {
        width: 90vw;
    }

    .temperature-graph, .humidity-graph {
        margin: 0 auto 30px auto;
    }
}
